<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Video</title>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Video</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col justify-content-center">
            <h3>Search result:</h3>
            <table style="margin: 0px; padding: 0px; width: 98%;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody th:each="video: ${videos}">
                <tr>
                    <td title="ID"  th:text="${video.getVideoId()}"/>
                    <td title="Title" th:text="${video.getTitle()}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
